body {
    margin: 0px;
}

header {
    width: 100%;
    background-image: url(img/pattern.png);
    height: 175px;
    background-color: rgb(68, 160, 255);
}


#logo {
    width: 25%;
}

.sottotitolo {
    font-size: 12px;
}

.annotazione {
    font-size: 8px;
}

#booleaner{
    color: lightblue;
}

.main-img {
    width: 49%;
    height: 550px;
}

.evidenziato {
    background-color:yellow ;
}

.theader {
    background-color: rgb(34, 155, 195);
    color: white;
    font-weight: bolder;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.alternate-row {
    background-color: lightblue;
}


.suggerimenti {
    width: 200px;
    height: 200px;
}

#monitor {
    background-image: url(img/monitor.jpg);
}

#graph {
    background-image: url(img/graph.jpg);
}

h3 {
    color:white;
}

#suggestion {
    color: lightgray;
}